<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Samuele Bertolini">
    <link rel="stylesheet" href="../../subtopic_styles/general_template_styles.css">
    <link rel="stylesheet" href="../topics/subtopic_styles/general_template_styles.css"> <!--Remove this one once you copy paste the template-->

    <title>Document</title>
</head>
<body>
    <nav class="nav">
        <div class="nav-button">
            <button class="hamburger-icon" onclick="toggleMenu()">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <div id="nav-links">
            <div class="nav-bar">
                <ul class="nav-ul">
                    <li class="nav-li"><a href="../subtopic_1/generalsubtopic.html">General subtopic</a></li>
                    <li class="nav-li"><a href="Ex-Page1.html">Ex page 1</a></li>
                    <li class="nav-li"><a href="Ex-Page2.html">Ex page 2</a></li>
                    <li class="nav-li"><a href="Ex-page3.html">Ex page 3</a></li>
                    <li class="nav-li"><a href="Ex-page4.html">Ex page 4</a></li>
                    <li class="nav-li"><a href="Ex-Page5.html">Ex page 5</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="five-template">
        <div class="content-text full">
            <h1>Lorem Ipsum</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi dicta repellendus aperiam soluta dolor? Laboriosam sunt, eos sed distinctio quam fuga suscipit architecto quidem est, dolor, eius soluta perferendis obcaecati.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic iure odit commodi tempore alias dignissimos impedit officia molestiae. Velit ipsum consequatur blanditiis unde, porro quos commodi consequuntur eos! Eum, omnis.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur sit, at modi id accusantium, maiores nesciunt inventore fuga reiciendis quae rem doloribus ad aliquid rerum error debitis optio vero excepturi?
            </p>
            <br>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi dicta repellendus aperiam soluta dolor? Laboriosam sunt, eos sed distinctio quam fuga suscipit architecto quidem est, dolor, eius soluta perferendis obcaecati.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic iure odit commodi tempore alias dignissimos impedit officia molestiae. Velit ipsum consequatur blanditiis unde, porro quos commodi consequuntur eos! Eum, omnis.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur sit, at modi id accusantium, maiores nesciunt inventore fuga reiciendis quae rem doloribus ad aliquid rerum error debitis optio vero excepturi?
            </p>
            <br>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi dicta repellendus aperiam soluta dolor? Laboriosam sunt, eos sed distinctio quam fuga suscipit architecto quidem est, dolor, eius soluta perferendis obcaecati.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic iure odit commodi tempore alias dignissimos impedit officia molestiae. Velit ipsum consequatur blanditiis unde, porro quos commodi consequuntur eos! Eum, omnis.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur sit, at modi id accusantium, maiores nesciunt inventore fuga reiciendis quae rem doloribus ad aliquid rerum error debitis optio vero excepturi?
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi dicta repellendus aperiam soluta dolor? Laboriosam sunt, eos sed distinctio quam fuga suscipit architecto quidem est, dolor, eius soluta perferendis obcaecati.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic iure odit commodi tempore alias dignissimos impedit officia molestiae. Velit ipsum consequatur blanditiis unde, porro quos commodi consequuntur eos! Eum, omnis.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur sit, at modi id accusantium, maiores nesciunt inventore fuga reiciendis quae rem doloribus ad aliquid rerum error debitis optio vero excepturi?
            </p>
            <br>
        </div>
        <div class="four-bottom-image">
            <div class="img1">
                <img src="../template/image/img2.jpeg" alt="">
                <br>
                <p class="four-image-caption">Lorem</p>
            </div>
            <div class="img2">
                <img src="../template/image/img2.jpeg" alt="">
                <br>
                <p class="four-image-caption">Lorem</p>
            </div>
            <div class="img3">
                <img src="../template/image/img2.jpeg" alt="">
                <br>
                <p class="four-image-caption">Lorem</p>
            </div>
            <div class="img4">
                <img src="../template/image/img2.jpeg" alt="">
                <br>
                <p class="four-image-caption">Lorem</p>
            </div>
        </div>
    </main>


    <script src="../../subtopic.js"></script>
    <script src="../topics/subtopic.js"></script><!--Remove this one once you copy paste the template-->

</body>
</html>