<!-- Author: Davide Scapellato-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../../subtopic_styles/general_subtopic_index.css">
        <link rel="stylesheet" href="../../topics.css">
        <title>Topic 3 General Overview</title>

    </head>
    <body>
        <div class="getopic">
            <div class="photo" style="background-image:url('img/msHD.webp')">

            </div>
            <div class="description">

                <h2>Microsoft Azure / Office 365 Outage (2023)</h2>
                <p>
                    On 25 January 2023, Microsoft experienced a significant disruption affecting Microsoft 365 services (including Exchange Online, Teams, OneDrive) and its underlying Azure network infrastructure. 
                    The outage illustrates how even the largest cloud providers are vulnerable to changes in their internal infrastructure and the cascading effects on many dependent services.
                </p>
                <div class="contdivbut">
                    <div class="innercont bta one"> What Happened </div>
                    <div class="innercont bta two"> Root Cause & Technical Analysis</div>
                    <div class="innercont bta three">Impact & Scope of the Outage </div>
                    <div class="innercont bta four"> Lessons Learned & Broader Implications </div>
                    <div class="innercont bta five"> Outlook & Mitigation for the Future</div>
                </div>

            </div>
            <div class="bta exit">Go back</div>

            <script src="../../topicgeneral.js"></script>


        </div>
    </body>

</html>