# This file maps repository paths to their designated reviewers (Code Owners).
# Rules are checked from top to bottom. The LAST matching rule for a given
# file will be used.
#
# The Git Leader (@piotrwilinski) is a required reviewer for ALL changes.

# -------------------------------------------------------------------
# General Catch-all
# Rule 1: The Git Leader is the default owner for any file not
# matched by the more specific rules below.
* @piotrwilinski @SamueleBertolini04 

# -------------------------------------------------------------------
# Special Page Teams
# Rule 2: Homepage Team + Git Leader
index.html @SA-Software-Failures-Team/git_team @Lanae99 @Fullmonkeyy
/index_img/ @SA-Software-Failures-Team/git_team @Lanae99 @Fullmonkeyy

# Rule 3: About Us Team + Git Leader
# This covers all files in the about_us folder EXCEPT for the
# CSS file, which is defined in a more specific rule below.
/about_us/ @SA-Software-Failures-Team/git_team @Lanae99

# Rule 4: Documentation Team + Git Leader
/docs/ @SA-Software-Failures-Team/git_team @SA-Software-Failures-Team/git_team

# -------------------------------------------------------------------
# Topic Leaders
# Rule 5: Topic Leaders + Git Leader for all files in their folders.
/topics/topic_1/ @SA-Software-Failures-Team/git_team @skariausi
/topics/topic_2/ @SA-Software-Failures-Team/git_team @BigbyWere
/topics/topic_3/ @SA-Software-Failures-Team/git_team @Fullmonkeyy
/topics/topic_4/ @SA-Software-Failures-Team/git_team @LeonardoAaronRicetti

# -------------------------------------------------------------------
# CSS Leaders
# Rule 6: These rules are last, so they OVERWRITE the rules above
# for these specific files, adding the CSS team.
/**/*.css @SA-Software-Failures-Team/css_team @Fullmonkeyy
