body {
    margin: 0;
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
    width: 100%;
}

header {
    background-color: #333; 
    position: sticky;
    top: 0;
    z-index: 1000;
}

.getopic {
    position: relative; 
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.getopic .photo {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 35%;
    min-height: 500px; 
}

.getopic .description {
    width: 65%;
    background-color: #f2f2f2;
    box-sizing: border-box;
    padding: 20px;
}

.getopic h2 {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    padding: 1.5rem;
    margin: 0 0 20px 0;
    color: white;
    background-color: rgb(0, 0, 0);
}

.getopic p {
    font-size: clamp(1rem, 2vw, 1.25rem);
    padding: 1.25rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto 30px;
}

.contdivbut {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 20px;
}

.contdivbut .innercont {
    margin: 0 auto;
    width: min(90%, 400px);
}

header .exit {
    position: relative;
    margin: 0px;
    top: 0px;
    border: 2px solid rgb(255, 255, 255);

}