
/*============== CSS used for the subtopic main page ============================================*/

.nav-bar{
    background-color: white;
}



body{
    margin: 0;
    height: 100vh;
    width: 100%;
}
.getopic{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.getopic .photo{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width:35%;
    
}
.getopic .description{
    
    width:65%;
    background-color: #f2f2f2;
    box-sizing: border-box;

}
.getopic h2{
    font-size: clamp(2rem, 5vw, 3.5rem);
    width: 100%;
    padding: 1.5rem;
    margin-top: 0;
    color: white;
    background-color: rgb(0, 0, 0)
}
.getopic p{
    font-size: clamp(1rem, 2vw, 1.5rem);
    padding: 1.25rem;
    line-height: 1.5;
    width: min(60%, 800px);
    margin: auto;
}
.getopic .description .contdivbut{
    text-align: center;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.getopic .description .contdivbut .innercont{
    margin: auto;
    margin-top: 1.25rem;
    width: min(35%, 400px);
}

.exit{

    position:absolute;
    bottom:5%;
    right:5%;
    width:fit-content;

}

