/* Author: Samuele Bertolini and Davide Scapellato */

*{
    margin: 0;
    font-family: sans-serif;
}

img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    box-shadow: 0px 5px 30px rgba(55, 55, 55, 0.7);
    border-radius: 5px;
}

/* Nav Don't modify */
.nav {
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start;
    background-color: black;
    padding: 10px 0px 10px 20px; 
    width: 60px;
    height: 100vh;
    position: fixed;
    z-index: 20;
    transition: width 0.3s ease-in-out;
}

.nav.menu-open-full {
    width: 250px;
}

.hamburger-icon {
    display: block; 
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px 0;
    z-index: 10; 
}

.hamburger-icon span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: white;
    transition: all 0.3s ease; 
}


#nav-links {
    display: block;
    padding-top: 60px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out 0.1s;
    
    overflow: hidden; 
}

.nav.menu-open-full #nav-links {
    opacity: 1;
    pointer-events: auto;
}

.nav-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.nav-li a {
    color: rgb(171, 169, 169);
    padding: 20px 15px;
    text-decoration: none;
    display: block;
    font-size: 1.5em;
    border-bottom: 1px solid #555;
}

.nav-li a:hover {
    color: rgb(255, 255, 255);
    padding: 20px 15px;
    text-decoration: none;
    display: block;
    font-size: 1.5em;
    border-bottom: 1px solid #555;
}

/* Header image */
.header{
    height: 40vh;
    width: 100%;
}

main {
    margin-left: 60px;
    transition: margin-left 0.3s ease-in-out;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 40px;
}

.main-pushed {
    margin-left: 250px;
}

/* lateral image */
.lateral-image{
    display: flex;
    margin-left: 50px;
    object-fit: cover;
}
.lateral-image img{
    height: 100%;
    max-width: fit-content;
}


/*content text*/
.content-text {
    width: 80%;
    padding: 40px 60px 40px 60px; 
    text-align: left;
    height: fit-content;
}
.content-text h1{
    padding-bottom: 15px;
    border-bottom: 1px solid black;
}

.content-text p {
    padding-top: 15px;
    text-align: justify;   
    font-size: 20px;
}


/*Summary */

.content-sum h2{
    position: relative;
    margin-bottom: 40px;
    padding-left: 55px;
}

.content-sum {
    width: 20%;
    align-content: center;
    border-left: 2px solid lab(0% 0 0);
    padding-left: 15px;
}

.ul-sum {
    list-style: none;
    text-align: center;
    padding-left: 40px;
    margin: 0;
}

.li-sum {
    margin-top: 50px;
    margin-bottom: 40px;
    padding-top: 25px;
}

.a-sum{
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.a-sum:hover{
    font-weight: bold;
    width: fit-content;
}

/* on click summary */
.sum-on-click{
    border: 1px solid white;
    text-align: left;
    padding: 15px;
    box-shadow: 0px 5px 30px rgba(55, 55, 55, 0.7);
    background-color: black;
    color: white;
    border-radius: 5px;
}


.content-text .inside{
    display: flex;
    justify-content: center;
}

.inside>img{
    margin:15px;
}
.lowerimage{
    width:100%;
    height:30vh;
    position:relative;
    object-fit: cover;
}


