/* Author: Samuele Bertolini (Aggiornato per transizioni fluide del menu) */

*{
    margin: 0;
    font-family: sans-serif;
}


/* Nav Don't modify */
.nav {
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start;
    background-color: black;
    padding: 10px 0px 10px 20px; 
    width: 60px;
    height: 100vh;
    position: fixed;
    z-index: 20;
    transition: width 0.3s ease-in-out;
}

.nav.menu-open-full {
    width: 250px;
}

.hamburger-icon {
    display: block; 
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px 0;
    z-index: 10; 
}

.hamburger-icon span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: white;
    transition: all 0.3s ease; 
}


#nav-links {
    display: block;
    padding-top: 60px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out 0.1s;
    
    overflow: hidden; 
}

.nav.menu-open-full #nav-links {
    opacity: 1;
    pointer-events: auto;
}

.nav-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.nav-li a {
    color: white;
    padding: 20px 15px;
    text-decoration: none;
    display: block;
    font-size: 1.5em;
    border-bottom: 1px solid #555;
}

/* Header image */
.header{
    height: 40vh;
    width: 100%;
}

main {
    margin-left: 60px;
    transition: margin-left 0.3s ease-in-out;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 40px;
}

.main-pushed {
    margin-left: 250px;
}
/*content text*/
.content-text {
    width: 60%;
    padding: 40px 60px 40px 60px; 
    text-align: left;
}

.content-text h2 {
    color: black;
}

.content-text p {
    text-align: justify;   
    font-size: 20px;
}

.content-sum h2{
    position: relative;
    margin-bottom: 40px;
    padding-left: 55px;
}

.content-sum {
    width: 30%;
    align-content: center;
    border-left: 2px solid lab(0% 0 0);
    padding-left: 25px;
}

/*Summary */
.ul-sum {
    list-style: none;
    text-align: center;
    padding-left: 40px;
    margin: 0;
}

.li-sum {
    margin-top: 50px;
    margin-bottom: 40px;
    padding-left: 25px;
    padding-top: 25px;
}

.a-sum{
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.li-sum:hover>.a-sum{
    font-weight: bold;
    width: fit-content;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-top: 25px;
}

