/* Author: Ricetti Leonardo */

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #ffffff; 
    color: #121212; 
}



main {
    margin-left: 60px;
    transition: margin-left 0.3s ease-in-out;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 40px;
}

.main-pushed {
    margin-left: 250px;
}

.content-text {
    width: 100%;
    text-align: justify;
    padding: 20px;
}

.topic-box {
    padding: 20px;
    margin: 20px 0;
    border-radius: 15px;
    background-color: #f2f2f2;
    border-left: 8px solid transparent;
}

#transportation.topic-box {
    border-left-color: rgba(241, 103, 103);
}

#energy.topic-box {
    border-left-color: rgba(255, 217, 61);
}

#business.topic-box {
    border-left-color: rgba(107, 203, 118);
}

#healthcare.topic-box {
    border-left-color: rgba(77, 150, 255);
}

.content-text h1 {
    font-size: 2em;
    font-weight: bold;
    color: #000000;
}

.content-text h2 {
    margin-top: 0;
    color: #000000;
}

.content-text p {
    font-size: 1em;
    line-height: 1.6em;
    color: #333333;
}

.backbta {
    width:fit-content;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}