/* Author: Davide Scapellato */


/*  ==================================== css for the CHOOSE page  ====================================   */

body{
    margin:0;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans
}

.mainbugvul{

    height:100vh;
    background-image: url("../index_img/bgindex3.jpg");
    background-size: cover;
    background-position: center;
    padding:0;
    margin:0;
    display:flex;
    flex-direction: column;
    align-items: center;
   
}
.mmain{
    display:flex;
        gap:30vw;

}

img{
    width:100% ;
    margin:auto;
}

.buttt{

    align-items: center;
    width: 15vh!important;
    
    padding:20px;
    background-color: rgb(0,0,0,0.2) !important;
    backdrop-filter: blur(10px); 
    text-align: center;
    border-radius: 20px;
    margin-top:20vh;
    transition: transform 0.2s;
    color: white;
}
.buttt:hover{

    transform: translateY(10%);

}

.titletopbv{

    padding:30px;
    border-radius: 40px;
    background: rgb(255, 255, 255,0.5);
    backdrop-filter: blur(80px); 
    margin-top: 20vh;
    font-size:35pt;
    background-color: rgb(0,0,0,0.2) !important;
    backdrop-filter: blur(10px); 

}