body{
    height:100%;
    width:100%;
    margin:0px;
    font-family: sans-serif;
}
#main{

    height:100%;
    width:100%;
    display: flex;

}

.windows{
  background-size: cover;        
  background-position: center;   
  background-repeat: no-repeat;
  text-align: center; 

}
#trans{

    background-image: url(topics_img/Transport.jpeg);
     
}
#ener{

    background-image: url(topics_img/energy.jpeg);
     
}
#busin{

    background-image: url(topics_img/business.jpg);
     
}
#health{

    background-image: url(topics_img/medical.jpg);
     
}


.windows, #desc{

    width:25%;
    height:100%;
    transition: width 1s, box-shadow 0.5s, filter 0.5s;
    filter: brightness(20%);


}
.windows p{
    display:none;
    width:fit-content;
    color: white;
    margin:auto;
    margin-top:50%;
    font-size: 32pt;
    font-family: Roboto;
    text-shadow: 
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000;
    font-weight: bold;
}

.windows div{

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  font-size: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  color: black;
  text-align: center;
    display:none;
    margin-top:10px;

}

.windows:hover p{
    display:block;
}
.windows:hover div{
    display:block;
}

.windows:hover{

    width:40%;
    box-shadow: 0px 20px 50px 20px rgba(0,0,0);
    filter: brightness(100%);

}

#trans{

    background-image: url(topics_img/Transport.jpeg);
     
}

#mtitl{

    position:absolute;
    color:white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:32pt;
    
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
   

}

.submain{
    height:80%;
    display:flex;
}

.submain .column1{
    width:66.6%;
    background-color: rgb(31, 31, 31);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submain .column2{
    width:33.4%;
    background-color: rgb(74, 74, 74);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.footer{
    display: flex;
    height: 20%;
    background-color:gray;
    width:100%;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.footer-cont{
    padding: 5px;
}

.bta{
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    padding: 0.625rem;
    background-color: rgb(0, 0, 0);
    color:white;
    border-radius: 5px;
    transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    margin: 20px;
}
.bta:hover{
    background-color: rgb(255, 255, 255);
    color:black;
    cursor: pointer;
    box-shadow: 0px 10px 10px 5px rgba(0,0,0,0.6);

}

#btAboutUs{
    display: flex;
    width: 40%;
    justify-content: center;
}

#btFAQ{
    display: flex;
    width: 40%;
    justify-content: center;
}



/* main page for each topic   */

.maingeneraltopic {
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: red;
}

.maingeneraltopic .first, .second, .third{
    width:100%
}
.maingeneraltopic .first{
    height:57%;
    background-color: yellow;   
}
.first .top{
    display: flex;
    width:100%;
}
.top .bta{

    margin-left: auto;
    margin-right: 20px;
    margin-top: 20px;

}
.top .Title{

    font-size: clamp(2rem, 5vw, 3.5rem);
    color: black;
    margin-left: 20px;
    margin-top: 20px;
    font-weight: bold;

}
.maingeneraltopic .second{
    height:8%;
    width:100%;
    background-color: rgb(4, 67, 125);
    display: flex;
   
}
.second .bta{

    height: fit-content;

}
.second .pre{

    position: absolute;
    left:5%;

}
.second .nex{

    position: absolute;
    right:5%;

}
.maingeneraltopic .third{
    height:35%;
    background-color: rgb(255, 0, 102);
    display: flex;
}

.maingeneraltopic .third div{
   
    width:20%;
    height: 100%;
    background-color: rgb(0, 0, 0);

}