<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Samuele Bertolini">
    <link rel="stylesheet" href="'/../../../subtopic_styles/subtopic_style_1.css">
    <title>Document</title>
</head>
<body>
    <nav class="nav">
        <div class="nav-button">
            <button class="hamburger-icon" onclick="toggleMenu()">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <div id="nav-links">
            <div class="nav-bar">
                <ul class="nav-ul">
                    <li class="nav-li"><a href="">Home</a></li>
                    <li class="nav-li"><a href="">Sub Main Page</a></li>
                    <li class="nav-li"><a href="">Subtopic 1</a></li>
                    <li class="nav-li"><a href="">Subtopic 2</a></li>
                    <li class="nav-li"><a href="">Subtopic 3</a></li>
                    <li class="nav-li"><a href="">Subtopic 4</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <script src="../../subtopic.js"></script>
</body>
</html>