<!-- 
 This is an example of a subtopic 1 page
 Here it's defined all the class needed for create the subtopic page
 USE ONLY FOR REFERENCE DON'T MODIFY 
 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Samuele Bertolini">
    <link rel="stylesheet" href="../../subtopic_styles/subtopic_style_1.css">
    <title>Example</title>
</head>
<body>
    <nav class="nav">
        <div class="nav-button">
            <button class="hamburger-icon">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </nav>
    <div class="header"></div>
    <main>
        <!-- Markup of the tect content -->
        <div class="content-text">
            <h2>Lorem</h2>
            <br>
            <p id="first">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, architecto aspernatur, laboriosam quasi incidunt dolorem deserunt dolor dicta placeat, labore vel ea quam. Earum fugit, repellendus sit reprehenderit eveniet officiis?
            </p>
            <br><br>
            <p id="second">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid repellendus vel rerum, pariatur laudantium sapiente doloremque eligendi quos quasi! Animi distinctio necessitatibus quas delectus ab odio sit doloribus, rerum fugit!
            </p>
            <br><br>
            <p id="third">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est fuga obcaecati quas magni ut officia similique. Et, laborum alias. A quo itaque debitis voluptate quibusdam dicta perspiciatis animi dolores impedit?
            <br>
        </div>
        <!-- Markup of the content summary -->
        <div class="content-sum">
            <ul class="ul-sum">
                <li class="li-sum"><a href="#first" class="a-sum">Lorem</a></li>
                <li class="li-sum"><a href="#second" class="a-sum">Ipsum</a></li>
                <li class="li-sum"><a href="#third" class="a-sum">Dolorem</a></li>
                <li class="li-sum"><a href="#fourth" class="a-sum">Sit amet</a> </li>
            </ul>
        </div>
    </main>
    <br>
    <!-- Markup of the footer -->
    <footer>
        <p>Samuele Bertolini</p>
    </footer>
</body>
</html>